 P {
    color: red;
 }

 h2 {
    color:  green;
    text-decoration: underline;
 }

   .project {
    color: pink;

 }
    #services {
        color:blue;


 }
 body{
    text-align: center;
 }
ul{
    list-style: none;
}
 #contact {
    color: orange;

 }
 